<footer>
<div class="footerMenu">
  <ul class="footerLinks">
    <li class="footLink"><%= link_to "About", static_pages_about_path %></li>
    <li class="footLink"><%= link_to "Contact", root_path %></li>
    <li class="footLink"><%= link_to "FAQ", salons_show_path %></li>
  </ul>
</div>
<div class"socialMedia">
<ul class="socialLogos">
  <li class="socLogo"><%= link_to root_path do %>
    <%= image_tag "social/facebook-icon.png", size: "30x30" %>
  <% end %>
  </li>
  <li class="socLogo"><%= link_to root_path do %>
    <%= image_tag "social/Twitter-round-color.PNG", size: "30x30" %>
  <% end %>
  </li>
  <li class="socLogo"><%= link_to root_path do %>
    <%= image_tag "social/pinterest-icon.png", size: "30x30" %>
  <% end %>
  </li>
  <li class="socLogo"><%= link_to root_path do %>
    <%= image_tag "social/instagram-icon.png", size: "30x30" %>
  <% end %>
  </li>
  </div>

</footer>
