<!--need to hook this up to talk to User.client and need to create an edit page for User.technician -->
<h1>Edit your profile!</h1>

<%= form_for @user do |f| %>

<div>
<%=f.label :name %>
<%= f.text_field :name %>
</div>

<div>
<%=f.label :Profile_photo %>
<%= f.file_field :profile_img_url %>
</div>

<div>
<%=f.label :Zip_code %>
<%= f.text_field :zip_code %>
</div>

<div>
<%=f.label :Email_address %>
<%= f.text_field :email %>
</div>

<div>
<%=f.label :Password %>
<%= f.text_field :password %>
</div>

<% end %>
