
<p>Not a member yet? Create an account to start using Get Your Did today!</p>

<!--need to figure out how to get this to work to register a User.client vs a User.technician -->
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <% flash.each do |key, value| %>
    <div class="<%= key %>" > <%= value %></div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit "Sign-up" %>
  <% end %>
