<p>Sign-up today to start booking appointments!</p>
<div class="container">
<%= form_for(@technician) do |f| %>
  <%#= render 'shared/error_messages' %>
  <% flash.each do |key, value| %>
    <div class="techsignup"<%= key %>" > <%= value %></div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <% f.hidden_field :salon_id, :value => params[:salon_id] %>
  <% f.hidden_field :role, :value => 1 %>

  <%= f.submit "Sign-up" %>
  <br>
  <%= link_to "Cancel", root_path %>
  <% end %>
</div>
