<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>

<div class="container">
<%= form_for @appointment, url: {action: "create"} do |f| %>
  <%#= render 'shared/error_messages' %>
  <% flash.each do |key, value| %>
    <div class="createAppointment"<%= key %>" > <%= value %></div>
  <% end %>


  <%= f.label :Date %>
  <%= f.date_select :date %>


  <%= f.label :Time %>
  <%= f.time_select :time, {minute_step:15} %>

  <%= f.label :service %>
  <%= f.collection_select :service_id, Service.all, :id, :name %>

  <% f.hidden_field :user_id, :value => params[:technician_id] %>

  <% f.hidden_field :booked, :value => false %>

  <div>
    <%= link_to "Service Not Listed? Add a new service!", new_service_path %>
  </div>

  <%= f.submit "Create Appointment" %>
  <br>
  <%= link_to "Cancel", root_path %>
  <% end %>
</div>
