<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>

<div class="container">
<%= form_for @appointment, url: {action: "create"} do |f| %>
  <%#= render 'shared/error_messages' %>
  <% flash.each do |key, value| %>
    <div class="createAppointment"<%= key %>" > <%= value %></div>
  <% end %>


  <%= f.label :Date %>
  <%= f.date_select :date %>


  <%= f.label :Time %>
  <%= f.time_select :time %>

  <%= f.label :service %>
  <%= f.select :service_id, collection_select(:post, :service_ids, Service.all, :id, :name, {}, { :multiple => false}) %>

  <% f.hidden_field :user_id, :value => params[:user_id] %>

  <% f.hidden_field :booked, :value => false %>

  <div>
    <%= link_to "Service Not Listed? Add a new service!", new_service_path %>
  </div>

  <%= f.submit "Create Appointment" %>
  <br>
  <%= link_to "Cancel", technicians_path %>
  <% end %>
</div>
